Source Codes/Node Red Flow/flows.json
[{"id":"d20d4833.fce068","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"df1a675a.3f5548","type":"ui_form","z":"d20d4833.fce068","name":"","label":"","group":"165ffce0.fc5bf3","order":1,"width":0,"height":0,"options":[{"label":"Enter the query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":340,"wires":[["4b4c20f4.58e96"]]},{"id":"4b4c20f4.58e96","type":"function","z":"d20d4833.fce068","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;\n","outputs":1,"noerr":0,"x":190,"y":240,"wires":[["3f2cb79e.c23be8","88271b13.f99078"]]},{"id":"d7c932de.d158b","type":"debug","z":"d20d4833.fce068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":120,"wires":[]},{"id":"3f2cb79e.c23be8","type":"ui_text","z":"d20d4833.fce068","group":"165ffce0.fc5bf3","order":2,"width":0,"height":0,"name":"","label":"Input","format":"{{msg.payload}}","layout":"col-center","x":300,"y":340,"wires":[]},{"id":"6ec32a8d.900844","type":"function","z":"d20d4833.fce068","name":"","func":"msg.payload.text=\"\"; \nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){ \n        msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text; \n        \n    }   \n    \n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["1b4fe696.410fc9"]]},{"id":"88271b13.f99078","type":"watson-conversation-v1","z":"d20d4833.fce068","name":"Assistant","workspaceid":"8b8589ba-67c5-4f53-ba2d-f04fea5ff952","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/6dc4a147-1de6-4449-94b7-c78e417f5481","timeout":"","optout-learning":false,"x":380,"y":160,"wires":[["d7c932de.d158b","6ec32a8d.900844"]]},{"id":"1b4fe696.410fc9","type":"ui_text","z":"d20d4833.fce068","group":"7ed5f621.985e38","order":1,"width":10,"height":12,"name":"","label":"Results","format":"{{msg.payload}}","layout":"col-center","x":720,"y":300,"wires":[]},{"id":"165ffce0.fc5bf3","type":"ui_group","z":"","name":"INPUT","tab":"46915180.2a5e8","order":1,"disp":true,"width":8,"collapse":false},{"id":"7ed5f621.985e38","type":"ui_group","z":"","name":"OUTPUT","tab":"46915180.2a5e8","order":2,"disp":true,"width":10,"collapse":false},{"id":"46915180.2a5e8","type":"ui_tab","z":"","name":"WELCOME","icon":"dashboard","disabled":false,"hidden":false}]